$darkBrown: #32292F;

$lightGreen: #99E1D9;

$projectWhite: #F0F7F4;

$darkGreen: #70ABAF;

$lightBrown: #705D56;

$editDark: #EF7215;

$editLight: #FFBF00;

$deleteDark: #C70E00;

$deleteLight: #FC1200;