.logo {
  display: flex;
  align-items: center;
  background-color: $darkGreen;
  border-radius: 1em;
  height: 2em;
  padding: .25em;
  &:hover {
    background-color: $lightGreen;
    }


  .logo--icon {
    font-size: 1.5em;
    padding: $smallButtonPadding;
  }

  .logo__textContainer {
    border-radius: 0.8em;
    background-color: $projectWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: $smallButtonPadding;

    .logo--text {
      font-size: 1em;
      margin: .1em;
    }

  }
}


.logoCopy {
  @extend .logo;

  border-radius: 3em;
  height: 6em;
  padding: .75em;
  margin: 2em;

  .logo--icon {
    font-size: 4.5em;
    padding: calc($smallButtonPadding*3);
  }

  .logo__textContainer {
    border-radius: 2.4em;
    height: 100%;
    width: 100%;
    padding: calc($smallButtonPadding*3);

    .logo--text {
      font-size: 3em;
      margin: .3em;
    }

  }

}
