.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 1em;
  height: 2em;
  padding: .25em;

  .menu--element {
    display: flex;
    align-items: center;
    height: 100%;

    .NavLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 1em;
      border: .25em solid $darkGreen;
      height: 100%;
      padding: $smallButtonPadding;
      margin: 0 0.25em;
      color: $darkBrown;
      &:focus, &:hover, &:visited, &:link {
        text-decoration: none;
      }
    }

    .Active {
      background-color: $lightGreen;
      color: $projectWhite;
    }

  }
}